*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.card{
    max-width: 420px;
    width: 100%;
    background: rgb(99, 165, 246);
    padding: 30px 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 10px 15px 0px rgb(0, 0, 0, 0.3);
}

.search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input{
    max-width: 290px;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
}

.search-box button{
    /* padding: 10px; */
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: white;
    cursor: pointer;
}

.search-box button img{
    width: 16px;
}

.error{
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    text-align: left;
    transition: all .4s;
}

.weather{
    display: none;
    color: white;
    margin-top: 30px;
}

.weather img{
    width: 170px;
}

.weather .temp {
    font-size: 70px;
    font-weight: 500;
}

.weather .city {
    font-size: 40px;
    font-weight: 400;
}

.detail{
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail .info{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.info img{
    width: 30px;
    height: 25px;
}

.info div {
    margin-left: 10px;
    text-align: left;
}

.info div p:first-child{
    font-size: 23px;
}

.info div p:last-child{
    font-size: 14px;
}