.container{
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    /* gap: 20px; */
    align-items: center;
    justify-content: center;
}

#image{
    max-width: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.postion{
    position: absolute;
    bottom: 5px;
}