body{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    padding: 15px 10px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background: #000;
}